.attribution { font-size: 14px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
body {
    background-color: hsl(233, 47%, 7%);
    color: hsl(0, 0%, 100%);
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
}

.card {
    background-color: hsl(244, 38%, 16%);
    display: block;
    width: 360px;
    margin:4em 1.5em;
}
.image {
    width: 100%;
    background: hsl(277, 75%, 40%);
}
img {
    max-width: 360px;
    height: auto;
    object-fit: cover;
    opacity: 0.4;
    overflow: hidden;
}