.attribution { font-size: 14px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
body {
    background-color: hsl(233, 47%, 7%);
    color: hsl(0, 0%, 100%);
    font-size: 15px;  
}

main {
    display: flex;
    justify-content: center;
}
.card {
    border-radius: 10px;
    background-color: hsl(244, 38%, 16%);
    display: block;
    width: 360px;
    margin:4em 1.5em;
    overflow: hidden;
}
.image {
    width: 360px;
    height:265px;
    background: hsl(277, 75%, 40%);
}
img {
    max-width: 360px;
    height: 265px;
    object-fit: cover;
    opacity: 0.4;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.8rem;
}
.content h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    text-align: center;
    letter-spacing: 1.3px;
    color:hsl(0, 0%, 100%);
}
.content span {
    color:  hsl(277, 64%, 61%);
}
.content p {
    font-size: 1.05rem;
    line-height: 1.8em;
    text-align: center;
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
}
.stats {
    display: flex;
    flex-direction: column;
    letter-spacing: 2px;
}
.stats h4 {
    font-family: 'Inter', sans-serif;
    font-size: 0.8em;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.6);
    text-transform: uppercase;
}
.stats p {
    font-size: 1.8em;
    line-height: 12px;
    color: hsl(0, 0%, 100%);
}
.comp, .temp, .queries {
    font-family: 'Inter', sans-serif;
    line-height: 0em;
    text-align: center;
}